@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var pageNumber = Model.PagePagination.Pagination.PageNumber;
    ViewData["ShowButon"] = true;
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<!DOCTYPE html>
<html>
<head>
    <title>Магазин товаров</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

@foreach (var goods in Model.PagePagination.Goods)
{
    <div class="col-12 col-sm-6 col-lg-4">
        <partial name="_CardGoodsPartial" model="goods" view-data="ViewData" />
    </div>
}
@if (Model.PagePagination.Pagination.PreviosPage)
{
    <a asp-action="OnGet"
       asp-route-pageNumber="@(pageNumber- 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PagePagination.Pagination.NextPage)
{
    <a asp-action="OnGet"
       asp-route-pageNumber="@(pageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

</html>

