@page
@model RazorStore.Pages.Detail.MyGoodsModel
@{
    
}

<html>
<head>

</head>
<body>
    <h1> Ваши товары</h1>

    <div class="cards">
        @if (Model.goods.Count() == 0)
        {
            <p>Товары не найдены</p>
        }
        else
        {
            foreach (var item in Model.goods)
            {
                <div>
                    <partial name="_CardGoodsPartial" model="item" />
                </div>
            }
        }
    </div>

</body>
</html>