@page
@model RazorStore.Pages.Detail.SearchPageModel
@{
}

<!DOCTYPE html>
<html>
    <head>
        <title>Магазин товаров</title>
        <link rel="stylesheet" href="~/css/site.css">
    </head>
        <div class="cards">

            @foreach (var goods in Model.Goods)
            {
               <partial name="_CardGoodsPartial" model="goods" />
            }
        </div>
</html>