@using RazorStore.Model
@inject SignInManager<User> siginManager
@inject UserManager<User> userManager
@{
    var showContent = siginManager.IsSignedIn(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="flex-container space-between padding-x w-full">
                <div class="flex-container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">RazorStore</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="flex-container">
                        <ul class="navbar-nav">
                            <li class="nav-item" >
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>


                    </div>
                    @if (siginManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Detail/AddGoods">Добавить товар</a>
                        </li>

                    }
                    <li class="nav-item" if="showContent" >
                        <a class="nav-link text-dark" asp-area="" asp-route-id="@userManager.GetUserId(User)" asp-page="/Detail/MyGoods">Мои товары </a>
                    </li>
                    <form method="post" asp-page="Detail/SearchPage" id="searchForm">
                        <div>
                            <select name="searchType" class="form-select btn-primary" id="selectSearchType">
                                <option >Категория</option>
                                <option value="0">Auto</option>
                                <option value="1">Hobby</option>
                                <option value="2">Sport</option>
                            </select>
                        </div>
                    </form>
                    <form asp-page="/Detail/SearchPage" method="get">
                        <div class="input-group">
                            <input class="form-control" type="text" name="search" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RazorStore - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.getElementById('selectSearchType').addEventListener('change', function() {
            document.getElementById('searchForm').submit();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
